.residenceDiv {
    width: 100%;
    
    margin: 0;
    padding: 16px;
    padding-top: 100px;
}

.resText {
	margin-left: -12px;
	padding-left: 0;
}

.residenceDiv label {
	padding-left: 10px;
}

.residenceDiv input[type=text], input[type=password], input[type=date] {
	width: 100%;
	padding: 15px;
	margin: 5px 0 22px 0;
	display: inline-block;
	border: none;
	background: #f1f1f1;
	
	box-shadow: 0 0 3px #FF9B2C;
}

.residenceDiv select {
	width: 100%;
	padding: 15px;
	margin: 5px 0 22px 0;
	display: inline-block;
	border: none;
	background: #f1f1f1;
	
	box-shadow: 0 0 3px #FF9B2C;
}



.residenceDiv input[type=text]:focus, input[type=password]:focus, input[type=date]:focus {
	background-color: #ddd;
	outline: none;
}

.residenceDiv select:focus {
	background-color: #ddd;
	outline: none;
}

.residenceDiv hr {
	border: 1px solid #f1f1f1;
	margin-bottom: 15px;
}

.residenceDiv .resBtn {
	background-color: #FF9B2C;
	color: white;
	padding: 16px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
	opacity: 0.9;
}

.residenceDiv .resBtn:hover {
	opacity: 1;
}

.status {
	color: red;
	font-weight: bold;
	font-size: 15px;
}